@import "tailwindcss";

/* clerk user button adjust */

.cl-avatarBox{
  width: 34px;
  height: 34px;
}

input{
  background-color: #ffffff;
  accent-color: red;
  border: 1px solid #ccc;
  color: #333; 
}